* {
    box-sizing: border-box;
}

body {
    background-color: #cacaca;
    overflow: auto;
}

nav .container.fluid {
    height: 100%;
}

nav * {
    font-weight: normal;
}

.nav-git {
    right: 18px;
}

#releaseAlertLink {
    color: inherit;
    cursor: help;
}

.alert-x {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.a-disabled {
    text-decoration: none;
    cursor: not-allowed;
}

.link {
    color:#a40909;
    text-decoration: underline;
}

/* Margin bottom for the alert div to prevent overlap with footer */
.alert-div {
    margin-bottom: 7rem;
}

#not-available {
    display: none;
    font-weight: bold;
}

footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden !important;
    position: fixed;
    bottom: 0;
    max-width: 100vw;
}