* {
    box-sizing: border-box;
}

body {
    background-color: #cacaca;
}

nav .container.fluid {
    height: 100%;
}

nav * {
    font-weight: normal;
}

.nav-git {
    right: 2rem;
}

footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#releaseAlertLink {
    color: inherit;
    cursor: help;
}

.alert-x {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.a-disabled {
    text-decoration: none;
    cursor: not-allowed;
}